In [1]:
import pandas as pd

In [51]:
#First, import the primary care physicians dataset (primary_care_physicians.csv) into a data frame named physicians
physicians = pd.read_csv('../data/primary_care_physicians.csv')

In [52]:
physicians.head()

   FIPS    state   county  primary_care_physicians
0  1001  Alabama  Autauga                     26.0
1  1003  Alabama  Baldwin                    153.0
2  1005  Alabama  Barbour                      8.0
3  1007  Alabama     Bibb                     12.0
4  1009  Alabama   Blount                     12.0

In [53]:
#3230 rows, 4 columns 
physicians.shape

(3230, 4)

In [54]:
#Filter physicians down to just the counties in Tennessee. Save the filtered dataframe back to physicians. Verify that the resulting dataframe has 95 rows
physicians = physicians.loc[physicians['state'] == 'Tennessee']

In [55]:
physicians.head()

       FIPS      state    county  primary_care_physicians
2432  47001  Tennessee  Anderson                     39.0
2433  47003  Tennessee   Bedford                     15.0
2434  47005  Tennessee    Benton                      3.0
2435  47007  Tennessee   Bledsoe                      1.0
2436  47009  Tennessee    Blount                     90.0

In [9]:
#95 rows, 4 columns
physicians.shape

(95, 4)

In [12]:
#Look at the distribution of the number of primary care physicians. What do you notice?
physicians

       FIPS      state      county  primary_care_physicians
2432  47001  Tennessee    Anderson                     39.0
2433  47003  Tennessee     Bedford                     15.0
2434  47005  Tennessee      Benton                      3.0
2435  47007  Tennessee     Bledsoe                      1.0
2436  47009  Tennessee      Blount                     90.0
...     ...        ...         ...                      ...
2522  47181  Tennessee       Wayne                      5.0
2523  47183  Tennessee     Weakley                     18.0
2524  47185  Tennessee       White                      9.0
2525  47187  Tennessee  Williamson                    338.0
2526  47189  Tennessee      Wilson                     43.0

[95 rows x 4 columns]

In [75]:
#some counties have 0 primary care physicians 
physicians['primary_care_physicians'].describe()

count     95.000000
mean      51.042105
std      129.311426
min        0.000000
25%        4.500000
50%       12.000000
75%       26.500000
max      806.000000
Name: primary_care_physicians, dtype: float64

In [36]:
#Now, import the population by county dataset (population_by_county.csv) into a DataFrame named population
population = pd.read_csv('../data/population_by_county.csv')
population

       FIPS  population           county       state  urban
0     17051       21565   Fayette County    ILLINOIS  Rural
1     17107       29003     Logan County    ILLINOIS  Rural
2     17165       23994    Saline County    ILLINOIS  Rural
3     17097      701473      Lake County    ILLINOIS  Urban
4     17127       14219    Massac County    ILLINOIS  Rural
...     ...         ...              ...         ...    ...
3197  47033       14399  Crockett County   TENNESSEE  Rural
3198  47095        7401      Lake County   TENNESSEE  Rural
3199  47093      461104      Knox County   TENNESSEE  Urban
3200  53005      197518    Benton County  WASHINGTON  Urban
3201  53011      473252     Clark County  WASHINGTON  Urban

[3202 rows x 5 columns]

In [43]:
#Merge the physicians DataFrame with the population DataFrame
#Keep only the values for Tennessee
#When you merge, be sure the include both the population and urban columns in the merged results
#Save the result of the merge back to physicians
population = population.loc[population['state'] == 'TENNESSEE']
population['county'] = population['county'].str.replace('County', '')
population

       FIPS  population      county      state  urban
283   47165      183437     Sumner   TENNESSEE  Urban
284   47169       10231  Trousdale   TENNESSEE  Urban
285   47027        7654       Clay   TENNESSEE  Rural
405   47157      936374     Shelby   TENNESSEE  Urban
406   47077       27977  Henderson   TENNESSEE  Rural
...     ...         ...         ...        ...    ...
3195  47123       46064     Monroe   TENNESSEE  Rural
3196  47079       32284      Henry   TENNESSEE  Rural
3197  47033       14399   Crockett   TENNESSEE  Rural
3198  47095        7401       Lake   TENNESSEE  Rural
3199  47093      461104       Knox   TENNESSEE  Urban

[95 rows x 5 columns]

In [40]:
#population['state'] = population['state'].str.replace('TENNESSEE', 'Tennessee')

In [44]:
population

       FIPS  population      county      state  urban
283   47165      183437     Sumner   TENNESSEE  Urban
284   47169       10231  Trousdale   TENNESSEE  Urban
285   47027        7654       Clay   TENNESSEE  Rural
405   47157      936374     Shelby   TENNESSEE  Urban
406   47077       27977  Henderson   TENNESSEE  Rural
...     ...         ...         ...        ...    ...
3195  47123       46064     Monroe   TENNESSEE  Rural
3196  47079       32284      Henry   TENNESSEE  Rural
3197  47033       14399   Crockett   TENNESSEE  Rural
3198  47095        7401       Lake   TENNESSEE  Rural
3199  47093      461104       Knox   TENNESSEE  Urban

[95 rows x 5 columns]

In [56]:
physicians

       FIPS      state      county  primary_care_physicians
2432  47001  Tennessee    Anderson                     39.0
2433  47003  Tennessee     Bedford                     15.0
2434  47005  Tennessee      Benton                      3.0
2435  47007  Tennessee     Bledsoe                      1.0
2436  47009  Tennessee      Blount                     90.0
...     ...        ...         ...                      ...
2522  47181  Tennessee       Wayne                      5.0
2523  47183  Tennessee     Weakley                     18.0
2524  47185  Tennessee       White                      9.0
2525  47187  Tennessee  Williamson                    338.0
2526  47189  Tennessee      Wilson                     43.0

[95 rows x 4 columns]

In [ ]:
#one way to merge 
pcp = pd.merge( left = physicians,
               right = population.loc[population['state']=="TENNESSEE"], on="FIPS")
#another way to merge
physicians = pd.merge(left = physicians,
               right = population.loc[population['state']=="TENNESSEE"][['FIPS', 'population', 'urban']], 
         on="FIPS"
        )

In [63]:
populations_physicians_merged = pd.merge(left = physicians, right = population, left_on = 'FIPS', right_on = 'FIPS')
populations_physicians_merged = populations_physicians_merged.drop(columns=['county_y', 'state_y'])
populations_physicians_merged

     FIPS    state_x    county_x  primary_care_physicians  population  urban
0   47001  Tennessee    Anderson                     39.0       76061  Urban
1   47003  Tennessee     Bedford                     15.0       48292  Rural
2   47005  Tennessee      Benton                      3.0       16140  Rural
3   47007  Tennessee     Bledsoe                      1.0       14836  Rural
4   47009  Tennessee      Blount                     90.0      129927  Urban
..    ...        ...         ...                      ...         ...    ...
90  47181  Tennessee       Wayne                      5.0       16693  Rural
91  47183  Tennessee     Weakley                     18.0       33510  Rural
92  47185  Tennessee       White                      9.0       26800  Rural
93  47187  Tennessee  Williamson                    338.0      225389  Urban
94  47189  Tennessee      Wilson                     43.0      136666  Urban

[95 rows x 6 columns]

In [67]:
populations_physicians_merged = populations_physicians_merged.rename(columns = {'state_x': 'state', 'county_x': 'county'})

In [68]:
populations_physicians_merged

     FIPS      state      county  primary_care_physicians  population  urban
0   47001  Tennessee    Anderson                     39.0       76061  Urban
1   47003  Tennessee     Bedford                     15.0       48292  Rural
2   47005  Tennessee      Benton                      3.0       16140  Rural
3   47007  Tennessee     Bledsoe                      1.0       14836  Rural
4   47009  Tennessee      Blount                     90.0      129927  Urban
..    ...        ...         ...                      ...         ...    ...
90  47181  Tennessee       Wayne                      5.0       16693  Rural
91  47183  Tennessee     Weakley                     18.0       33510  Rural
92  47185  Tennessee       White                      9.0       26800  Rural
93  47187  Tennessee  Williamson                    338.0      225389  Urban
94  47189  Tennessee      Wilson                     43.0      136666  Urban

[95 rows x 6 columns]

In [70]:
#How many Tennessee counties are considered urban?
#38 counties are considered urban; 57 rural 
populations_physicians_merged['urban'].value_counts()

Rural    57
Urban    38
Name: urban, dtype: int64

In [73]:
#First, counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply
#Counties with at least 1500 residents but fewer than 3500 residents per primary care physician are considered to have a "moderately inadequate" supply, 
#and counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply
#How many counties in Tennessee are in each group?


populations_physicians_merged['civilians_per_physician'] = populations_physicians_merged['population'] / populations_physicians_merged['primary_care_physicians']

In [74]:
populations_physicians_merged

,FIPS,state,county,primary_care_physicians,population,urban,civilians_per_physician
0,47001,Tennessee,Anderson,39.0,76061,Urban,1950.282051
1,47003,Tennessee,Bedford,15.0,48292,Rural,3219.466667
2,47005,Tennessee,Benton,3.0,16140,Rural,5380.000000
3,47007,Tennessee,Bledsoe,1.0,14836,Rural,14836.000000
4,47009,Tennessee,Blount,90.0,129927,Urban,1443.633333
...,...,...,...,...,...,...,...
90,47181,Tennessee,Wayne,5.0,16693,Rural,3338.600000
91,47183,Tennessee,Weakley,18.0,33510,Rural,1861.666667
92,47185,Tennessee,White,9.0,26800,Rural,2977.777778
93,47187,Tennessee,Williamson,338.0,225389,Urban,666.831361
94,47189,Tennessee,Wilson,43.0,136666,Urban,3178.279070

In [93]:
#moderately adequate supply
#50 counties with at least 1500 residents but fewer than 3500 residents per primary care physician
populations_physicians_merged.loc[(populations_physicians_merged['civilians_per_physician'] >= 1500) & (populations_physicians_merged['civilians_per_physician'] < 3500)].shape

(50, 7)

In [96]:
populations_physicians_merged.loc[(populations_physicians_merged['civilians_per_physician'] >= 1500) & (populations_physicians_merged['civilians_per_physician'] < 3500)]['urban'].value_counts()

Rural    31
Urban    19
Name: urban, dtype: int64

In [90]:
#adequate supply 
#14 counties with fewer than 1500 residents per primary care physician are considered to have an "adequate" supply
populations_physicians_merged.loc[(populations_physicians_merged['civilians_per_physician'] < 1500)].shape

(14, 7)

In [97]:
populations_physicians_merged.loc[(populations_physicians_merged['civilians_per_physician'] < 1500)]['urban'].value_counts()

Urban    9
Rural    5
Name: urban, dtype: int64

In [95]:
#low inadequate supply
#31 counties with at least 3500 residents per primary care physician are considered to have a "low inadequate" supply
populations_physicians_merged.loc[(populations_physicians_merged['civilians_per_physician'] >= 3500)].shape

(31, 7)

In [98]:
populations_physicians_merged.loc[(populations_physicians_merged['civilians_per_physician'] >= 3500)]['urban'].value_counts()

Rural    21
Urban    10
Name: urban, dtype: int64

In [ ]:
#Does there appear to be any detectable relationship between whether a county is urban or rural and its supply of primary care physicians?